@font-face {
  font-family: candara;
  src: url(../candara/candara-font-family/Candara_Bold.ttf) format("truetype");
}
body {
  margin: 0;
  background-color: #BED4DD;
  font-family: "Bellota Text", cursive;
}

header > img {
  width: 71px;
  position: absolute;
  top: 14px;
  left: 37px;
}

.accueil {
  display: none;
}

.a {
  overflow-x: scroll;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 23px;
  margin-right: 0;
}
.a > img {
  width: 122px;
}

.ecoute {
  margin-top: 67px;
}
.ecoute h1 {
  text-align: center;
  font-size: 15px;
  font-family: candara;
  font-weight: bold;
}

.ajout h1 {
  text-align: center;
  font-size: 15px;
  font-family: candara;
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: "Bellota Text", cursive;
  font-weight: bold;
  display: none;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inscription {
  background-color: #BED4DD;
}
.inscription h1 {
  font-family: "Bellota Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
  margin-top: 70px;
}
.inscription img {
  width: 71px;
  height: 39px;
  margin-left: 37px;
  margin-top: 14px;
}

main form {
  text-align: center;
}

::-moz-placeholder {
  color: rgb(0, 0, 0);
  text-align: center;
}

::placeholder {
  color: rgb(0, 0, 0);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 26px;
  font-style: italic;
  margin-top: 20px;
}
.form .wrong {
  color: red;
}
.form .placeholder {
  width: 237px;
  height: 42px;
  font-style: italic;
  font-size: 16px;
  font-family: "Bellota Text";
  font-weight: 400;
  border-style: none;
}
.form #email {
  margin-top: 26px;
}
.form #submit {
  width: 237px;
  height: 42px;
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 16px;
  font-family: "Bellota Text";
  margin-bottom: 20px;
  border-style: none;
  margin-top: 0;
}
.form a {
  font-family: "Bellota Text";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.lecteurmini {
  width: 256px;
  background-image: url(../images/lecteurmini.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10px;
  font-size: 14px;
  position: fixed;
  bottom: 57px;
  display: none;
}
.lecteurmini > div:first-child {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 35px;
  width: 200px;
}
.lecteurmini > div:first-child > div {
  text-align: center;
}
.lecteurmini > div:first-child > div > * {
  margin: 10px 0;
}
.lecteurmini > div:first-child > img {
  margin-top: 20px;
  height: 38px;
}
.lecteurmini > div:first-child > p {
  position: relative;
}
.lecteurmini > div:first-child > p::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  top: -20px;
  left: 10px;
  background-image: url(../images/flechehaut.svg);
  background-repeat: no-repeat;
}
.lecteurmini > div:last-child {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.lecteurmini > .lec {
  position: absolute;
  top: 45px;
  right: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}
.lecteurmini > .lecturemini {
  background-image: url(../images/lecture.svg);
}
.lecteurmini > .pausemini {
  background-image: url(../images/pause.svg);
  display: none;
}

.lecteur {
  font-family: "DM Sans", sans-serif;
  display: none;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: #BED4DD;
  width: 100vw;
  height: 100vh;
}
.lecteur > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  margin-bottom: 20px;
}
.lecteur a {
  position: absolute;
  top: 20px;
  right: 10px;
  font-family: "Bellota Text", cursive;
  font-size: 13px;
  font-weight: 700;
  color: black;
}
.lecteur > div > div:first-child > img {
  height: 180px;
  width: 180px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #FFFFFF;
  filter: drop-shadow(5px 4px 4px #000000);
}
.lecteur > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.lecteur > div > div:nth-child(2) > div {
  text-align: center;
  font-family: "Bellota Text", cursive;
}
.lecteur > div > div:nth-child(2) > div h2 {
  margin-bottom: 10px;
  max-width: 100px;
  font-size: 24px;
}
.lecteur > div > div:nth-child(2) .coeurvide {
  width: 31px;
  height: 28px;
  background-image: url(../images/coeurvide.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.lecteur > div > div:nth-child(2) .coeurplein {
  width: 31px;
  height: 28px;
  background-image: url(../images/coeurplein.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: none;
}
.lecteur > div > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.lecteur > div > div:nth-child(3) > img {
  height: 40px;
}
.lecteur > div > div:nth-child(3) > div {
  width: 33px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
.lecteur > div > div:nth-child(3) .pause_lecture {
  background-image: url(../images/pauselecteur.svg);
}
.lecteur > div > div:nth-child(3) .lecture_pause {
  background-image: url(../images/pause.svg);
  display: none;
}
.lecteur > div > div:nth-child(4) {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  color: white;
  margin-top: 20px;
}
.lecteur > div > div:nth-child(4) input {
  margin: 0;
}
.lecteur > div > div:nth-child(4) p {
  margin: 0;
  text-align: center;
}

.formulaire_de_connexion {
  display: none;
}

.connexion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexion ::-moz-placeholder {
  font-family: "Bellota Text";
  color: black;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.connexion ::placeholder {
  font-family: "Bellota Text";
  color: black;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.connexion h1 {
  font-family: "Bellota Text";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin: 0px;
}
.connexion .identifiant {
  margin-top: 183px;
  width: 237px;
  height: 42px;
  border: none;
}
.connexion .mot {
  margin: 24px 0 24px;
  width: 237px;
  height: 42px;
  border: none;
}
.connexion .btn1 {
  color: black;
  font-family: "Bellota Text";
  font-size: 16px;
  font-style: italic;
  border: none;
  background-color: #BED4DD;
  margin-bottom: 120px;
}
.connexion .btn2 {
  font-family: "Bellota Text";
  font-size: 16px;
  font-style: italic;
  color: white;
  background-color: black;
  border: none;
  width: 237px;
  height: 42px;
}

.favoris {
  display: none;
  margin-top: 75px;
}
.favoris .truc_favoris {
  width: 270px;
  height: 55px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.favoris .truc_favoris p {
  margin: 0;
}
.favoris .truc_favoris > div:first-of-type {
  width: 150px;
}
.favoris .truc_favoris > p {
  margin-top: 20px;
}
.favoris .truc_favoris > img {
  width: 40px;
  height: 40px;
}
.favoris .truc_favoris > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.favoris .truc_favoris > div:last-child > img {
  width: 30px;
  height: 30px;
}

.artistes {
  display: none;
  margin-top: 75px;
}
.artistes .un_artiste {
  width: 270px;
  height: 55px;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.artistes .un_artiste p, .artistes .un_artiste img {
  margin: 10px;
}
.artistes .un_artiste img {
  width: 40px;
  height: 40px;
}

.dn {
  display: none;
}

.un_petit_artiste {
  display: none;
  margin-top: 75px;
}
.un_petit_artiste .l_artiste {
  background-color: #000000;
  width: 300px;
  color: white;
  display: flex;
  align-items: center;
  margin: auto;
}
.un_petit_artiste .l_artiste div {
  margin: 5px;
}
.un_petit_artiste .l_artiste p {
  margin: 0;
  font-size: 13px;
}
.un_petit_artiste .l_artiste p:first-child {
  font-size: 14px;
}
.un_petit_artiste .l_artiste img {
  width: 60px;
  height: 60px;
  margin: 5px;
}
.un_petit_artiste .les_chansons {
  width: 270px;
  height: 55px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}
.un_petit_artiste .les_chansons > img, .un_petit_artiste .les_chansons > div {
  margin: 5px;
}
.un_petit_artiste .les_chansons p {
  margin: 0;
}
.un_petit_artiste .les_chansons > div:first-of-type {
  width: 150px;
}
.un_petit_artiste .les_chansons > p {
  margin-top: 20px;
}
.un_petit_artiste .les_chansons > img {
  width: 40px;
  height: 40px;
}
.un_petit_artiste .les_chansons > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.un_petit_artiste .les_chansons > div:last-child > img {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=style.css.map */