

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    h3{
        margin-top: 0px;
        margin-bottom: 0px;

    }
}

body{
background-color: #BED4DD ;
h1{
    font-family: 'Bellota Text';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
}
    img{
    width: 71px;
    height: 39px;
    margin-left: 37px;
    margin-top: 14px;
    }

}


main{
    form{
        text-align: center;
    }
}


::placeholder{
    color: rgb(0, 0, 0);
    text-align: center;
}