body{
    margin: 0;
    background-color: #BED4DD;
    ;
}

header > img{
    margin-top: 14px;
    margin-left: 37px;
}

.a > img{
    width: 120px;
}
.a{
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 23px;
    margin-right: 0;
}

.ecoute > h1, .ajout > h1{
    font-size: 15px;
    /* font-family: 0; */
}
